/* Basics*/
body, html {
	height: 100%;
	width: 100%;
}

body {
	background: url('../img/sky.jpg') center center;
	background-size: cover;
	font-family: 'Glegoo', serif;
	margin: 0;
}

#howto {
	background: rgba(166,140,117,.86);
	border: 2px dashed #281300;
	box-sizing: border-box;
	height: 90%;
	position: fixed;
	margin: 2.5% 5%;
	text-align: center;
	width: 90%;
	z-index: 5000;
}

#howto h2 {
	color: #2f69ad;
	font-size: 6em;
	line-height:  1.2em;
	margin: 1em 0 .25em 0;
}

#howto h3 {
	color: #d7ad55;
	font-size: 4em;
	line-height:  1.2em;
	margin: .25em 0em .75em 0;
}

#howto p {
	color: #281300;
	font-size: 1.8em;
	line-height: 1.2em;
	margin: .8em auto;
	transition: .3s color ease-out;
	width: 60%;
}

#howto #closeHowTo {
	position: absolute;
	top: .5em;
	right: .5em;
	width: 60px;
	height: 60px;
	margin: 0;
	font-size: 60px;
	line-height: 60px;
}

#howto #closeHowTo:hover {color: #fff;}

/*Reusables*/
.cfix:after {
  content: "";
  display: table;
  clear: both;
}

.commentLeft, .commentRight {
    background: rgba(240,240,240,.9);
    box-sizing: border-box;
    display: inline-block;
    font-size: .8em;
    margin-bottom: 15px;
    max-width: 300px;
    padding: 3px 10px;
    position: absolute;
    top: 20px;
    vertical-align: top;
    z-index: 2200;
}

.commmentLeft {left: -20px;}

.commentRight {left: 20px;}

.commentLeft::after, .commentRight::after {
    border-color: transparent rgba(240,240,240,.85);
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    width: 0;
    z-index: 2200;
}

.commentLeft::after {
    border-width: 10px 0 10px 15px;
	right: -15px;
}

.commentRight::after {
    border-width: 10px 15px 10px 0;
	left: -15px;
}

.dialogue {
	background: rgba(166,140,117,.86);
	border: 2px dashed #281300;
	color: #281300;
	font-size: 1.4em;
	line-height: 1.2em;
	padding: 16px;
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 800px;
	z-index: 2000;
}

#nextArrow {
	bottom: 64px;
	left: 45%;
	opacity: .01;
	position: fixed;
	width: 15%;
	z-index: 110;
}


/*The set*/

.curtain {
	height: auto;
	position: absolute;
	width: 100%;
}

#curtainBottom {
	top: 44%;
	z-index: 997;
}

#curtainMiddle {
	top: 22%;
	z-index: 998;
}

#curtainTop {
	top: 0;
	z-index: 999;
}

#stageFloor {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

/*Scene I*/

#cannonball {
	border-radius: 50%;
	background: #333;
	width: 10%;
	bottom: 20%;
	left: 8px;
	position: absolute;
}

#cannonContainer {
	bottom: 28%;
	height: 100%;
	left: 4%;
	position: absolute;
	width: 22%;
	-ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
    transform: rotate(12deg);
}

#cannonContainer > img {position: absolute;}

#cannonBarrel {
	position: absolute;
	width: 100%;
}

#cannonBarrelContainer {
	bottom: 5%;
	height: 70px;
	left: 10%;
	position: absolute;
	width: 90%;
}

#cannonStand {
	bottom: 0;
	left: 40%;
	position: absolute;
	width: 60%;
}

#cpt {
	bottom: 21%;
	position: absolute;
	left: 29%;
	width: 28%;
	z-index: 16;
}

#dusk {
	background: rgba(27, 25, 34, .98);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 700;
}

#egret {
	position: absolute;
	bottom: 60%;
	left: 38%;
	width: 20%;
	z-index: 23;
}

#lightningBolt {
	position: fixed;
	top: 18%;
	width: 5%;
	z-index: 6;
}

#scene1 {
	background: url('../img/sky.jpg') center center;
	background-size: cover;
}

#scene1 > .clouds {
	background: url('../img/clouds.png') center center;
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 7;
}


#ship {
	width: 100%;
	position: relative;
	z-index: 15;
}

#shipContainer {
	position: fixed;
	width: 60%;
	bottom: 22%;
	right: -60%;
	z-index: 15;
}

#speedboat{
	width: 100%;
	position: relative;
	z-index: 25;
}

#speedboatContainer {
	position: fixed;
	width: 40%;
	bottom: 22%;
	left: -40%;
	z-index: 25;
}

#stormCloudLeft, #stormCloudRight {
	position: fixed;
	top: 7%;
	width: 30%;
	z-index: 7;
}

#stormCloudLeft {left: -100%;}

#stormCloudRight {
	right: -100%;
}

#sun {
	border-radius: 100%;
	height: auto;
	left: 40%;
	position: fixed;
	top: 60%;
	width: 20%;
	z-index: 5;
}

#wave1, #wave2, #wave3 {
	position: fixed;
	width: 110%;
}

#wave1, #wave3 {left: -10%;}

#wave1 {
	bottom: 27%;
	z-index: 10;
}

#wave2 {
	bottom: 21%;
	left: 0;
	z-index: 20;
}

#wave3 {
	bottom: 15%;
	z-index: 30;
}

@media (max-width: 1680px) and (min-width: 0px){
	.dialogue {width: 33% !important}
}

@media (max-width: 1680px) and (min-width: 1440px){
	body {font-size: 90% !important}
}

@media (max-width: 1440px) and (min-width: 1280px){
	body {font-size: 80% !important}
}

@media (max-width: 1280px) and  (min-width: 960px){
	body {font-size: 70% !important}
}

@media (max-width: 960px ) and (min-width: 800px){
	body {font-size: 60% !important}
}

@media (max-width: 800px ) and (min-width: 0px){
	body {font-size: 50% !important}
}
