body, html {
	height: 100%;
	width: 100%;
}

body {
	background: #a7ddf7;
	margin: 0;
}



.cfix:after {
  content: "";
  display: table;
  clear: both;
}

.dialogue {
	background: #a68c75;
	border: 2px dashed #281300;
	color: #281300;
	font-family: arial;
	padding: 16px;
	position: fixed;
	right: 2%;
	top: 2%;
	width: 600px;
	z-index: 100;
}



.curtain {
	height: auto;
	position: absolute;
	width: 100%;
}

#curtainBottom {
	top: 44%;
	z-index: 28;
}

#curtainMiddle {
	top: 22%;
	z-index: 29;
}

#curtainTop {
	top: 0;
	z-index: 30;
}

#dusk {
	background: rgba(37, 35, 56, .98);
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 15;
}

#sun {
	border-radius: 100%;
	height: auto;
	left: 44%;
	position: fixed;
	top: 60%;
	width: 12%;
	z-index: 5;
}

#wave1, #wave2, #wave3 {
	position: fixed;
	width: calc(100% + 40px);
}

#wave1, #wave3 {left: -40px;}

#wave1 {
	bottom: 400px;
	z-index: 10;
}

#wave2 {
	bottom: 300px;
	z-index: 11;
}

#wave3 {
	bottom: 200px;
	z-index: 12;
}